:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #242424;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 1.5em;
  line-height: 0;
}

h2 {
  font-size: 2.2em;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

span {
  text-decoration: underline;
}
